name: continuous-integration

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main

jobs:
  ci-go-lint:
    name: ci-go-lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
      id: go

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8

  ci-unit-tests:
    name: ci-unit-tests
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
      id: go

    - name: Run unit tests
      run:  go test ./...

  ci-build-cli:
    name: ci-build-cli
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
      id: go

    - name: Build CLI
      run:  go build -o mmd ./cmd/mmd/mmd.go

    - name: Run CLI with png
      run: ./mmd --input mermaid/assets/diagram.mermaid --format png

    - name: Run CLI with svg
      run: ./mmd --input mermaid/assets/diagram.mermaid --format svg

    - name: Run CLI from stdin
      run: cat mermaid/assets/diagram.mermaid | ./mmd
